/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

.left__position, .right__position {
  margin: 20% auto;
  text-align: left;
  width: 70%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.heading--small {
  font-size: 1.333em; }

.heading--medium {
  font-size: 1.667em; }

.heading--large {
  font-size: 2em; }

.heading--x-large {
  font-size: 2.667em; }

.description {
  margin: 21px 0 41px 0;
  line-height: 30px; }

.description--thin {
  font-weight: 300; }

.gradientlink {
  font-size: 1.125em;
  color: #fff;
  padding: 15px 50px;
  border-radius: 25px;
  background-color: #ffffff;
  background: linear-gradient(74deg, #49007c 0%, #e70088 100%); }
  @media all and (min-width: 320px) {
    .gradientlink {
      font-size: 1em; } }

.span--bold {
  font-weight: 700; }

.close {
  display: none; }

.header {
  background: url("../img/header_bg.jpg") center center no-repeat;
  background-size: cover;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .header__container {
    padding: 52px 0; }
  .header__descriptions {
    text-align: center;
    margin-top: 304px;
    margin-bottom: 438px; }
  .header__scrolldown {
    text-align: center;
    padding-bottom: 100px; }
  .header__heading {
    font-weight: 700;
    margin-bottom: 10px; }
  .header__text--thin {
    color: #949494;
    margin-bottom: 64px; }
  .header__scrolldown_text {
    color: #fff;
    font-size: 0.778em;
    margin-top: 10px; }
  .header__scrolldown__image {
    transition: all .2s ease; }
  .header__scrolldown__image:hover {
    transform: translateY(-10px);
    cursor: pointer; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .header__heading {
      font-size: 2em; }
    .header__scrolldown {
      visibility: hidden; }
    .header__descriptions {
      margin-top: 54px;
      margin-bottom: 138px; }
    .header__text--thin {
      color: #000;
      font-weight: 500; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .header__descriptions {
      margin-top: 54px;
      margin-bottom: 138px; }
    .header__scrolldown {
      visibility: hidden; } }

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .nav__list {
    display: flex; }
  .nav__item {
    margin: 0 20px; }
  .nav__link {
    font-size: 1.125em;
    color: #000;
    padding: 10px; }
    .nav__link:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .nav__link--selected {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3); }
  .nav__hamburger {
    display: none;
    background-size: 100% 100%;
    width: 30px;
    height: 30px; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .nav {
      align-items: flex-start; }
      .nav__list {
        display: flex;
        flex-direction: column;
        margin: 20px;
        height: 0;
        overflow: hidden; }
      .nav__list.open {
        height: auto;
        transition: all 2s ease; }
      .nav__item {
        margin: 20px 20px; }
      .nav__heading {
        font-size: 1.6em; }
      .nav__hamburger {
        padding-top: 3px;
        display: block;
        width: 40px;
        height: 30px;
        overflow: hidden; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .nav {
      align-items: center;
      margin: 0% 10%; }
      .nav__list {
        display: flex;
        flex-direction: column;
        margin: 20px;
        height: 0;
        overflow: hidden; }
      .nav__list.open {
        height: auto;
        transition: all 2s ease; }
      .nav__item {
        margin: 20px 20px; }
      .nav__heading {
        font-size: 1.6em; }
      .nav__hamburger {
        display: flex;
        justify-content: baseline;
        margin-left: 20%;
        padding-top: 3px;
        width: 40px;
        height: 30px;
        overflow: hidden; } }
  @media screen and (min-width: 768px) and (max-width: 1223px) {
    .nav__list {
      margin-top: 40px; } }

.best {
  background-color: black;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .best__container {
    display: flex;
    color: #fff; }
  .best__container__left {
    background: url("../img/design_bg.jpg") center center no-repeat;
    background-size: cover; }
  .best__container__right {
    background: url("../img/code_bg.jpg") center center no-repeat;
    background-size: cover; }
  @media all and (min-width: 320px) and (max-width: 1023px) {
    .best__container {
      flex-direction: column; } }

.do {
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .do__heading {
    text-align: center;
    font-weight: 700;
    margin: 113px auto; }
  .do__container {
    display: flex;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%; }
  .do__btn {
    text-align: center;
    margin: 111px 0 104px 0; }
  .do__container__right, .do__container__left {
    padding-right: 6em; }
  @media all and (min-width: 320px) and (max-width: 1023px) {
    .do__container {
      flex-direction: column; }
    .do__btn {
      margin-top: 50px; } }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .do__container {
      flex-direction: column;
      text-align: center; }
    .do__btn {
      margin-top: 50px; }
    .do__container__right, .do__container__left {
      padding: 0; } }

.design,
.painting,
.web,
.desktop {
  display: flex;
  margin-bottom: 85px;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .design__heading,
  .painting__heading,
  .web__heading,
  .desktop__heading {
    margin-bottom: 5%;
    font-weight: 700; }
  .design__icon,
  .painting__icon,
  .web__icon,
  .desktop__icon {
    margin-right: 5%; }
  .design__position,
  .painting__position,
  .web__position,
  .desktop__position {
    flex-direction: column; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .design,
    .painting,
    .web,
    .desktop {
      flex-direction: column; } }

.portfolio {
  padding: 0;
  margin-bottom: -2px; }

.center {
  width: 100%;
  margin: 0 auto; }

.slick-arrow {
  z-index: 999; }

.project {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 15px; }
  .project__photo {
    max-width: 100%;
    cursor: grab; }

.about {
  background: url("../img/about_bg.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  /* --------------------------------------
  --------------MEDIAQUARY ----------------
  ----------------------------------------*/ }
  .about__container {
    text-align: center; }
  .about__heading {
    color: #fff;
    font-weight: 700;
    padding: 116px 0 38px 0; }
  .about__description {
    color: #949494;
    line-height: 30px;
    padding-bottom: 132px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .about__description {
      padding-bottom: 50px; } }

.worker {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 1124px;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .worker__item {
    padding: 0 35px; }
  .worker__heading {
    margin: 29px auto 31px auto;
    color: #fff;
    font-weight: 700; }
  .worker__text {
    color: #949494;
    font-weight: 300;
    margin-bottom: 111px; }
  .worker__btn {
    padding-bottom: 136px; }
  @media all and (min-width: 320px) and (max-width: 1023px) {
    .worker {
      flex-direction: column; } }

.footer {
  text-align: center;
  color: #a7acbc; }
  .footer__description {
    margin: 65px auto 20px auto; }
  .footer__copyright {
    margin-bottom: 45px; }

.back {
  border: 0;
  background: url(../../img/back-to-top.png);
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999;
  opacity: 1;
  cursor: pointer; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .back {
      display: none; } }

.hidden {
  opacity: 0;
  visibility: hidden; }

@-moz-document url-prefix() {
  .portfolio {
    margin-bottom: -5px; }

  .do__btn {
    text-align: center;
    margin: 51px 0px -6px 0;
    padding: 100px; }

  .slick-prev, .slick-next {
    width: 55px;
    height: 75px; } }

/*# sourceMappingURL=main.css.map */
