.portfolio {
  padding:0;
  margin-bottom: -2px;
}

.center {
  width: 100%;
  margin: 0 auto;
}

.slick-arrow {
  z-index: 999;
}

.project {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 15px;

  &__photo {
    max-width: 100%;
    cursor: grab;
  }
}