@-moz-document url-prefix() {
    .portfolio {
        margin-bottom: -5px;
    }
    .do__btn {
        text-align: center;

        margin: 51px 0px -6px 0;
        
        padding: 100px;
    }

    .slick-prev, .slick-next {
        width: 55px;
        height: 75px;
  }
}