// TYPOGRAPHY

$base__font-family: 'Lato', sans-serif;
$base__font-size: 1.125em; //18px;
$base__font-weight: 400;
$base__font-weight--bold: 700;
$base__font-weight--thin: 300;

$secondary__font-family: 'Roboto', Arial, sans-serif;

$heading__font-size--small: 1.333em; //24px
$heading__font-size--medium: 1.667em; //30px
$heading__font-size--large: 2em; //36px
$heading__font-size--x-large: 2.667em; //48px

$description__line: 30px;
