@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

.left__position, .right__position {
  margin: 20% auto;
  text-align: left;
  width: 70%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.heading--small {
  font-size: 1.333em; }

.heading--medium {
  font-size: 1.667em; }

.heading--large {
  font-size: 2em; }

.heading--x-large {
  font-size: 2.667em; }

.description {
  margin: 21px 0 41px 0;
  line-height: 30px; }

.description--thin {
  font-weight: 300; }

.gradientlink {
  font-size: 1.125em;
  color: #fff;
  padding: 15px 50px;
  border-radius: 25px;
  background-color: #ffffff;
  background: linear-gradient(74deg, #49007c 0%, #e70088 100%); }
  @media all and (min-width: 320px) {
    .gradientlink {
      font-size: 1em; } }

.span--bold {
  font-weight: 700; }

.close {
  display: none; }

.header {
  background: url("../img/header_bg.jpg") center center no-repeat;
  background-size: cover;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .header__container {
    padding: 52px 0; }
  .header__descriptions {
    text-align: center;
    margin-top: 304px;
    margin-bottom: 438px; }
  .header__scrolldown {
    text-align: center;
    padding-bottom: 100px; }
  .header__heading {
    font-weight: 700;
    margin-bottom: 10px; }
  .header__text--thin {
    color: #949494;
    margin-bottom: 64px; }
  .header__scrolldown_text {
    color: #fff;
    font-size: 0.778em;
    margin-top: 10px; }
  .header__scrolldown__image {
    transition: all .2s ease; }
  .header__scrolldown__image:hover {
    transform: translateY(-10px);
    cursor: pointer; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .header__heading {
      font-size: 2em; }
    .header__scrolldown {
      visibility: hidden; }
    .header__descriptions {
      margin-top: 54px;
      margin-bottom: 138px; }
    .header__text--thin {
      color: #000;
      font-weight: 500; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .header__descriptions {
      margin-top: 54px;
      margin-bottom: 138px; }
    .header__scrolldown {
      visibility: hidden; } }

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .nav__list {
    display: flex; }
  .nav__item {
    margin: 0 20px; }
  .nav__link {
    font-size: 1.125em;
    color: #000;
    padding: 10px; }
    .nav__link:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .nav__link--selected {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3); }
  .nav__hamburger {
    display: none;
    background-size: 100% 100%;
    width: 30px;
    height: 30px; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .nav {
      align-items: flex-start; }
      .nav__list {
        display: flex;
        flex-direction: column;
        margin: 20px;
        height: 0;
        overflow: hidden; }
      .nav__list.open {
        height: auto;
        transition: all 2s ease; }
      .nav__item {
        margin: 20px 20px; }
      .nav__heading {
        font-size: 1.6em; }
      .nav__hamburger {
        padding-top: 3px;
        display: block;
        width: 40px;
        height: 30px;
        overflow: hidden; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .nav {
      align-items: center;
      margin: 0% 10%; }
      .nav__list {
        display: flex;
        flex-direction: column;
        margin: 20px;
        height: 0;
        overflow: hidden; }
      .nav__list.open {
        height: auto;
        transition: all 2s ease; }
      .nav__item {
        margin: 20px 20px; }
      .nav__heading {
        font-size: 1.6em; }
      .nav__hamburger {
        display: flex;
        justify-content: baseline;
        margin-left: 20%;
        padding-top: 3px;
        width: 40px;
        height: 30px;
        overflow: hidden; } }
  @media screen and (min-width: 768px) and (max-width: 1223px) {
    .nav__list {
      margin-top: 40px; } }

.best {
  background-color: black;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .best__container {
    display: flex;
    color: #fff; }
  .best__container__left {
    background: url("../img/design_bg.jpg") center center no-repeat;
    background-size: cover; }
  .best__container__right {
    background: url("../img/code_bg.jpg") center center no-repeat;
    background-size: cover; }
  @media all and (min-width: 320px) and (max-width: 1023px) {
    .best__container {
      flex-direction: column; } }

.do {
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .do__heading {
    text-align: center;
    font-weight: 700;
    margin: 113px auto; }
  .do__container {
    display: flex;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%; }
  .do__btn {
    text-align: center;
    margin: 111px 0 104px 0; }
  .do__container__right, .do__container__left {
    padding-right: 6em; }
  @media all and (min-width: 320px) and (max-width: 1023px) {
    .do__container {
      flex-direction: column; }
    .do__btn {
      margin-top: 50px; } }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .do__container {
      flex-direction: column;
      text-align: center; }
    .do__btn {
      margin-top: 50px; }
    .do__container__right, .do__container__left {
      padding: 0; } }

.design,
.painting,
.web,
.desktop {
  display: flex;
  margin-bottom: 85px;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .design__heading,
  .painting__heading,
  .web__heading,
  .desktop__heading {
    margin-bottom: 5%;
    font-weight: 700; }
  .design__icon,
  .painting__icon,
  .web__icon,
  .desktop__icon {
    margin-right: 5%; }
  .design__position,
  .painting__position,
  .web__position,
  .desktop__position {
    flex-direction: column; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .design,
    .painting,
    .web,
    .desktop {
      flex-direction: column; } }

.portfolio {
  padding: 0;
  margin-bottom: -2px; }

.center {
  width: 100%;
  margin: 0 auto; }

.slick-arrow {
  z-index: 999; }

.project {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 15px; }
  .project__photo {
    max-width: 100%;
    cursor: grab; }

.about {
  background: url("../img/about_bg.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  padding: 10px;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .about__container {
    text-align: center; }
  .about__heading {
    color: #fff;
    font-weight: 700;
    padding: 116px 0 38px 0; }
  .about__description {
    color: #949494;
    line-height: 30px;
    padding-bottom: 132px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .about__description {
      padding-bottom: 50px; } }

.worker {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 1124px;
  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/ }
  .worker__item {
    padding: 0 35px; }
  .worker__heading {
    margin: 29px auto 31px auto;
    color: #fff;
    font-weight: 700; }
  .worker__text {
    color: #949494;
    font-weight: 300;
    margin-bottom: 111px; }
  .worker__btn {
    padding-bottom: 136px; }
  @media all and (min-width: 320px) and (max-width: 1023px) {
    .worker {
      flex-direction: column; } }

.footer {
  text-align: center;
  color: #a7acbc; }
  .footer__description {
    margin: 65px auto 20px auto; }
  .footer__copyright {
    margin-bottom: 45px; }

.back {
  border: 0;
  background: url("../img/back-to-top.png");
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999;
  opacity: 1;
  cursor: pointer; }
  @media all and (min-width: 320px) and (max-width: 480px) {
    .back {
      display: none; } }

.hidden {
  opacity: 0;
  visibility: hidden; }

@-moz-document url-prefix() {
  .portfolio {
    margin-bottom: -5px; }
  .do__btn {
    text-align: center;
    margin: 51px 0px -6px 0;
    padding: 100px; }
  .slick-prev, .slick-next {
    width: 55px;
    height: 75px; } }

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 35px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::after,
.hamburger-inner::before {
  content: '';
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx .hamburger-inner::after,
.hamburger--3dx .hamburger-inner::before {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg); }

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r .hamburger-inner::after,
.hamburger--3dx-r .hamburger-inner::before {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg); }

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy .hamburger-inner::after,
.hamburger--3dy .hamburger-inner::before {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg); }

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r .hamburger-inner::after,
.hamburger--3dy-r .hamburger-inner::before {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg); }

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy .hamburger-inner::after,
.hamburger--3dxy .hamburger-inner::before {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg); }

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r .hamburger-inner::after,
.hamburger--3dxy-r .hamburger-inner::before {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::after,
.hamburger--boring .hamburger-inner::before {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg); }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 275ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 125ms 275ms ease; }

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 275ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 75ms; }

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0; }

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 75ms; }

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 275ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 125ms 275ms ease; }

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 275ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 75ms; }

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0; }

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 75ms; }

.hamburger--emphatic {
  overflow: hidden; }

.hamburger--emphatic .hamburger-inner {
  transition: background-color 125ms 175ms ease-in; }

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 125ms cubic-bezier(0.6, 0.04, 0.98, 0.335), top 50ms 125ms linear, left 125ms 175ms ease-in; }

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 125ms cubic-bezier(0.6, 0.04, 0.98, 0.335), top 50ms 125ms linear, right 125ms 175ms ease-in; }

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent; }

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 125ms ease-out, top 50ms 125ms linear, transform 125ms 175ms cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 125ms ease-out, top 50ms 125ms linear, transform 125ms 175ms cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--emphatic-r {
  overflow: hidden; }

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 125ms 175ms ease-in; }

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 125ms cubic-bezier(0.6, 0.04, 0.98, 0.335), top 50ms 125ms linear, left 125ms 175ms ease-in; }

.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 125ms cubic-bezier(0.6, 0.04, 0.98, 0.335), top 50ms 125ms linear, right 125ms 175ms ease-in; }

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent; }

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 125ms ease-out, top 50ms 125ms linear, transform 125ms 175ms cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 125ms ease-out, top 50ms 125ms linear, transform 125ms 175ms cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger--minus .hamburger-inner::after,
.hamburger--minus .hamburger-inner::before {
  transition: bottom 80ms 0s ease-out, top 80ms 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::after,
.hamburger--minus.is-active .hamburger-inner::before {
  opacity: 0;
  transition: bottom 80ms ease-out, top 80ms ease-out, opacity 0s 80ms linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); }

.hamburger--slider-r .hamburger-inner {
  top: 2px; }

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider-r .hamburger-inner::after {
  top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg); }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; }

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand .hamburger-inner {
  transition: transform 75ms 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 75ms linear; }

.hamburger--stand .hamburger-inner::before {
  transition: top 75ms 75ms ease-in, transform 75ms 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand .hamburger-inner::after {
  transition: bottom 75ms 75ms ease-in, transform 75ms 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 75ms 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 75ms 0.1s ease-out, transform 75ms 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 75ms 0.1s ease-out, transform 75ms 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand-r .hamburger-inner {
  transition: transform 75ms 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 75ms linear; }

.hamburger--stand-r .hamburger-inner::before {
  transition: top 75ms 75ms ease-in, transform 75ms 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 75ms 75ms ease-in, transform 75ms 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 75ms 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 75ms 0.1s ease-out, transform 75ms 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 75ms 0.1s ease-out, transform 75ms 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 75ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 75ms 0.12s ease, opacity 75ms ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 75ms 0.12s ease, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 75ms ease, opacity 75ms 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 75ms ease, transform 75ms 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex .hamburger-inner::after,
.hamburger--vortex .hamburger-inner::before {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear; }

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity; }

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex.is-active .hamburger-inner::after,
.hamburger--vortex.is-active .hamburger-inner::before {
  transition-delay: 0s; }

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg); }

.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex-r .hamburger-inner::after,
.hamburger--vortex-r .hamburger-inner::before {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear; }

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity; }

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger--vortex-r.is-active .hamburger-inner::after,
.hamburger--vortex-r.is-active .hamburger-inner::before {
  transition-delay: 0s; }

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg); }

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0; }

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0; }

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1; }

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25; }

.slick-next:before,
.slick-prev:before {
  position: relative;
  z-index: 999;
  font-family: slick;
  font-size: 40px;
  line-height: 1;
  padding: 15px;
  opacity: 0.75;
  color: red;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 25px; }

[dir='rtl'] .slick-prev {
  right: 25px;
  left: auto; }

.slick-prev:before {
  content: '<'; }

[dir='rtl'] .slick-prev:before {
  content: '>'; }

.slick-next {
  right: 50px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '>'; }

[dir='rtl'] .slick-next:before {
  content: '<'; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0; }

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0; }

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000; }

@-moz-document url-prefix() {
  .slick-next,
  .slick-prev {
    width: 55px;
    height: 75px; }
  .slick-next {
    right: 25px; } }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:after,
.slick-track:before {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
