.header {
  background: url('#{$path}header_bg.jpg') center center no-repeat;
  background-size: cover;

  &__container {
    padding: 52px 0;
  }

  &__descriptions {
    text-align: center;
    margin-top: 304px;
    margin-bottom: 438px;
  }

  &__scrolldown {
    text-align: center;
    padding-bottom: 100px;
  }

  &__heading {
    font-weight: $base__font-weight--bold;
    margin-bottom: 10px;
  }

  &__text--thin {
    color: $base__secondary-color;
    margin-bottom: 64px;
  }

  &__scrolldown_text {
    color: $base__tertiary-color;
    font-size: 0.778em;
    margin-top: 10px;
  }

  &__scrolldown__image {
    transition: all .2s ease;
  }

  &__scrolldown__image:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }

  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/

  // PHONE

  @media all and (min-width: 320px) and (max-width: 480px) {
    
    &__heading {
      font-size: 2em;
    }
    
    &__scrolldown {
      visibility: hidden;
    }

    &__descriptions {
      margin-top: 54px;
      margin-bottom: 138px;
    }

    &__text--thin {
      color: $base__primary-color;
      font-weight: 500;
    }
  }

  @media all and (min-width: 481px) and (max-width: 767px) {
    
    &__descriptions {
      margin-top: 54px;
      margin-bottom: 138px;
    }

    &__scrolldown {
      visibility: hidden;
    }
  }

}

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  &__list {
    display: flex;
  }

  &__item {
    margin: 0 20px;
  }

  &__link {
    font-size: $base__font-size;
    color: $base__primary-color;
    padding: 10px;
    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  &__link--selected {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  &__hamburger {
    display: none;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
  }

  /* --------------------------------------
    --------------MEDIAQUARY ----------------
    ----------------------------------------*/

  //PHONE

  @media all and (min-width: 320px) and (max-width: 480px) {
    align-items: flex-start;

    
    &__list {
      display: flex;
      flex-direction: column;
      margin: 20px;
      height: 0;
      overflow: hidden;
    }

    &__list.open {
      height: auto;
      transition: all 2s ease;
    }

    &__item {
      margin: 20px 20px;
    }

    &__heading {
      font-size: 1.6em;
    }

    &__hamburger {
      padding-top: 3px;
      display: block;
      width: 40px;
      height: 30px;
      overflow: hidden;
    }
  }

  @media all and (min-width: 481px) and (max-width: 767px) {
    align-items: center;
    margin: 0% 10%;
    &__list {
      display: flex;
      flex-direction: column;
      margin: 20px;
      height: 0;
      overflow: hidden;
    }

    &__list.open {
      height: auto;
      transition: all 2s ease;
    }

    &__item {
      margin: 20px 20px;
    }

    &__heading {
      font-size: 1.6em;
    }

    &__hamburger {
      display: flex;
      justify-content: baseline;
      margin-left: 20%;
      padding-top: 3px;
      width: 40px;
      height: 30px;
      overflow: hidden;

    }
  }

  //TABLET

  @media screen and (min-width: 768px) and (max-width: 1223px) {
    &__list {
      margin-top: 40px;
    }
  }
}
